<div class="main main_background">
  <ng-container *ngIf="(data$ | async) as people else loading">
    <div #tinderCard class="users" *ngFor="let person of people; let index = index"
         [ngStyle]="{ zIndex: people.length - index}">
      <section class="user">
        <img class='photo' src="assets/images/no-photo.jpeg"/>
        <div class="text text_markup text_style">
          <label class="text__title fw-bold"> {{person.fullName}}, {{person.age}} </label>
          <label class="text__description fw-normal"> {{person.profession}} </label>
        </div>
      </section>
    </div>
    <section class="options">
      <button class="button button_small" (click)="decline(cardIndex)">
        <img src="assets/images/cross.svg"/>
      </button>
      <button class="button button_big" (click)="match(cardIndex, people[cardIndex])">
        <img src="../assets/images/heart.svg"/>
      </button>
      <button class="button button_small" (click)="refresh()">
        <img src="assets/images/refresh.svg"/>
      </button>
    </section>
  </ng-container>
  <ng-template #loading>
    <p> Данные еще прогружаются, подождите немного</p>
  </ng-template>
</div>
